* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: $minWidth + px;
}

body {
  color: $mainColor;
  line-height: 1;
  font-size: $fontSize;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.action-buttons {
  display: flex;
  gap: rem(10);
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  gap: rem(10);
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  gap: rem(10);
}

.client_link {
  cursor: pointer;
  color: #2080f0;
  &:hover {
    color: #4098fc;
  }
}

.n-base-select-menu .n-base-select-option .n-base-select-option__content {
  white-space: wrap;
  margin: 5px 0;
}

.phone-input {
  width: 100%;
  border: 1px solid rgb(224, 224, 230) !important;
  border-radius: 3px;
  height: 40px;
  font-size: 16px;
  :focus {
    border: 1px solid #0085ff;
  }
  :hover {
    border: 1px solid #0085ff !important;
  }
  ::placeholder {
    color: rgba(194, 194, 194, 1)
  }
}

.mt-5000 {
  margin-top: 5000px
}

.w-full {
  width: 100%;
}

.td-center {
  text-align: center;
}

.n-select-wrap {
  .n-base-selection {
    .n-base-selection-overlay {
      .n-base-selection-overlay__wrapper {
        white-space: normal;
      }
    }
    .n-base-selection-label {
      height: 54px;
    }
  }
  + .n-button {
    height: 100%;
  }
}
